
.full-site
    background: url('../images/flowers-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    
    .separator
        width: 80vw
        height: 10vh
    
    #header
        display: flex
        align-items: center
        justify-content: space-around
        font-family: $first-font
        background: $color-5
        
      
        .logo-container
            margin: 10px
            display: flex
        
            align-items: center
            justify-content: center
            color: $color-1
            font-size: 2em
            img
                margin: 10px
                max-width: 100px
        .menu
            font-family: $second-font
            .nav
                display: flex
                align-items: center
                
                .nav-link
                    color: $color-1
                    font-size: 1.25em
                   


                .nav-link:hover
                    color: $color-3

                .dropdown-toggle
                    color: $color-1
                    font-size: 1.25em
                    text-decoration: none
                    margin: 0 15px
                    border-radius: 25px
 
                .dropdown-toggle:hover
                    color: $color-3


        .socials
            display: flex
            .fab
                margin: 10px
                color: $color-1
                font-size: 1.5em
                border-radius: 25px
            .fab:hover
                color: $color-3
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        .location
            height: 10vh
            background: url('../images/map.png')
            background-size: cover
            background-position: center
            a
                display: block 
                width: 100%
                height: 100%   
       
        .precios, .mid-space
            height: 10vh
            background: $color-5
            font-size: 1.25em
            color: $color-1
            font-weight: bolder
            font-family: $second-font
    
    .button-show-curses
        display: flex
        justify-content: center
        align-items: center
        height: 10vh
        .que-te-ofrezco
            width: 250px
            height: 50px
            border-radius: 50px
            background: $color-1
            border: 1px solid $color-1
            color: white
            font-weight: bolder
            transition: box-shadow 0.2s, background 0.2s, border 0.2s
        .que-te-ofrezco:hover         
              
            background: $color-1
            box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.308)
            color: white
    
    
    .accordion-flush
        background: $color-4tr
        .accordion-item
            .accordion-collapse
                .accordion-body
                    .card
                        .list-group
                            .list-group-item
                                background: $color-4tr

       
          

    #main-site
        
        .carousel
            margin: 20px
            box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 3px rgba(0, 0, 0, 0.19)
            //border: 1px solid black
            .carousel-inner
                .carousel-caption
                    background: $color-6
                    border-radius: 15px
                    h5
                        font-weight: bolder
    .call-to-action


        display: flex
        justify-content: center
        align-items: center
        height: 10vh
        .button
            width: 250px
            height: 50px
            border-radius: 50px
            background: #25d366
            border: 1px solid #25d300
            transition: box-shadow 0.2s, background 0.2s, border 0.2s

            i
                color: white
            a
                font-weight: bolder
                text-decoration: none
                color: white
        .button:hover         
            border: 1px solid #31df70   
            background: #31df70
            box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.308)
            color: $color-3
    


    
    