.full-site {
  background: url("../images/flowers-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-site .separator {
  width: 80vw;
  height: 10vh;
}

.full-site #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Dancing Script";
  background: #fcd8d83b;
}

.full-site #header .logo-container {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3d5517;
  font-size: 2em;
}

.full-site #header .logo-container img {
  margin: 10px;
  max-width: 100px;
}

.full-site #header .menu {
  font-family: "Josefin Slab";
}

.full-site #header .menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-site #header .menu .nav .nav-link {
  color: #3d5517;
  font-size: 1.25em;
}

.full-site #header .menu .nav .nav-link:hover {
  color: #da11a5;
}

.full-site #header .menu .nav .dropdown-toggle {
  color: #3d5517;
  font-size: 1.25em;
  text-decoration: none;
  margin: 0 15px;
  border-radius: 25px;
}

.full-site #header .menu .nav .dropdown-toggle:hover {
  color: #da11a5;
}

.full-site #header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-site #header .socials .fab {
  margin: 10px;
  color: #3d5517;
  font-size: 1.5em;
  border-radius: 25px;
}

.full-site #header .socials .fab:hover {
  color: #da11a5;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.full-site #header .location {
  height: 10vh;
  background: url("../images/map.png");
  background-size: cover;
  background-position: center;
}

.full-site #header .location a {
  display: block;
  width: 100%;
  height: 100%;
}

.full-site #header .precios, .full-site #header .mid-space {
  height: 10vh;
  background: #fcd8d83b;
  font-size: 1.25em;
  color: #3d5517;
  font-weight: bolder;
  font-family: "Josefin Slab";
}

.full-site .button-show-curses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.full-site .button-show-curses .que-te-ofrezco {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background: #3d5517;
  border: 1px solid #3d5517;
  color: white;
  font-weight: bolder;
  -webkit-transition: background 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
}

.full-site .button-show-curses .que-te-ofrezco:hover {
  background: #3d5517;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  color: white;
}

.full-site .accordion-flush {
  background: #fadbfabe;
}

.full-site .accordion-flush .accordion-item .accordion-collapse .accordion-body .card .list-group .list-group-item {
  background: #fadbfabe;
}

.full-site #main-site .carousel {
  margin: 20px;
  -webkit-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 3px rgba(0, 0, 0, 0.19);
}

.full-site #main-site .carousel .carousel-inner .carousel-caption {
  background: #00000055;
  border-radius: 15px;
}

.full-site #main-site .carousel .carousel-inner .carousel-caption h5 {
  font-weight: bolder;
}

.full-site .call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.full-site .call-to-action .button {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background: #25d366;
  border: 1px solid #25d300;
  -webkit-transition: background 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
}

.full-site .call-to-action .button i {
  color: white;
}

.full-site .call-to-action .button a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.full-site .call-to-action .button:hover {
  border: 1px solid #31df70;
  background: #31df70;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  color: #da11a5;
}
/*# sourceMappingURL=index.css.map */